@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    background-image: url(./assets/heroHeader/cows.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}